{% extends "layout.html" %}

{% block title%} Bike Checkout {% endblock %}




{% block body %} 

<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>
<div>
<form method = "POST">
    <p>checkout form</p>
    <input type="text" placeholder="bike #">
    <input type="submit">
</form>
</div>

<div><br><br>

    <h1>Bike Table</h1>
    <table>
        <tr>
            <th>BikeNo</th>
            <th>Model</th>
            <th>Year</th>
            <th>Size</th>
            <th>Image</th>
        </tr>
    {% for item in data %}
    {% if item[4] %}
    <tr>
        
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td><img src=static/bikes/{{item[0]}}.jpeg></td>
        
        <form method = "POST" action="{{ url_for('rent') }}">
            <input type="hidden" name="bikeNo" value="{{item[0]}}">
            <td><input type="submit" value="Reserve"></td>
        </form>  
    </tr>
    {% endif %}
    {% endfor %}
    </table>

<a href="/"><button>Home</button></a>


</div>
{% endblock %}