<!DOCTYPE html>
<html lang='en'>
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <title> Bike DB</title>
</head>



<body>



    <script type="text/javascript">
        window.addEventListener( "pageshow", function ( event ) {
                var historyTraversal = event.persisted || 
                                       ( typeof window.performance != "undefined" && 
                                            window.performance.navigation.type === 2 );
                if ( historyTraversal ) {
                  // Handle page restore.
                  window.location.reload();
                }
              });
        </script>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </p>

    <table style="position: left;margin-top: -500px;">
        <h1> Current Green Bikes</h1>
        <tr>
            <th>BikeNo</th>
            <th>History</th>
        </tr>
    {% for item in data %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>

        <br>
    </tr>
    {% endfor %}
    </table>
<h2>Add Bike</h2>
    <form method = "post" action="{{ url_for('staffBikeDBaccess') }}" >
        <td><input placeholder="BikeNo"  name="BikeNo" ></td>
        <td><input placeholder="model" name="model"></td>
        <td><input placeholder="year" name="year"></td>
        <td><input placeholder="size (cm)" name="size"></td>
        <td><input placeholder="lost fee" name="fee"></td>
        <td><input type="submit" value="Add Bike"></td>
        </form> 
<br>
 <h1> Locks</h1>
        <table>
            <tr>
                <th>LockNo</th>
                <th>Code</th>
                <th>Pair</th>
                <br>
                <th>DELETE</th>
                <th>newPair</th>
                <th>newCode</th>
                
            </tr>
        {% for item in data2 %}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
            <form method = "POST" action="{{ url_for('editLock') }}" >
                <input type="hidden" name="lock" value="{{item[0]}}">
                <td><input type="checkbox"  name="deleteLock" value="{{item[0]}}"></td>
                <td><input placeholder="New GB Pair"  name="pair"></td>
                <td><input placeholder="New Combo"  name="combo"></td>
                <td><input type="submit" value="Update"></td>
            </form> 
            <br>
        </tr>
        {% endfor %}
        </table>
<h2>Add Lock</h2>
<form method = "post" action="{{ url_for('addLock') }}" >
            <td><input placeholder="LockNo"  name="LockNo" ></td>
            <td><input placeholder="combination" name="Code"></td>
            <td><input type="submit" value="Add Lock"></td>
</form> 
<br>
<h1>Raffle</h1>
<h2>Set Raffle Slot</h2>

{% for item in data3 %}
<tr>
    <td><strong>Current </strong>: {{item[0]}}<br></td>
</tr>
{% endfor %}
<form method = "post" action="{{ url_for('setRaffle') }}" >
            <td><input placeholder="val (1-10) or 10+"  name="maxNum" ></td>
            <td><input type="submit" value="Set Limit"></td>
</form> 

<br>
<a href="{{ url_for('homePage') }}"><button>Back</button></a>
</body>

</html>