{% extends "layout.html" %}

{% block title%} Register {% endblock %}

{% block body %} 

<div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p>community registration</p>
<form method="post" action="{{ url_for('commReg') }}">
    <input type="text" name="email" placeholder="e-mail"><br><br>
    <input type="text" name="user" placeholder="select a username"><br><br>
    <input type="password" name="password" placeholder="select a password"><br><br>
    <input type="password" name="p_two" placeholder="re-enter password"><br><br>

    <input type="text" name="firstName" placeholder="first name"><br><br>

    <input type="text" name="lastName" placeholder="last name"><br><br>

    <input type="text" name="tele" placeholder="phone #"><br><br>

  
    <br>  
    <input type="checkbox" name="agreement">
    <label for="agreement"> I agree to terms...</label><br><br>

    <input type="submit">
</form>
</div>

<div>
<a href="/loginHome"><button>Login</button></a>
<a href="/passwordHelp"><button>Help</button></a>
<a href="/registerHome"><button>Back</button></a>
<a href="/"><button>Home</button></a>
</div>
{% endblock %}