{% extends "layout.html" %}

{% block title%} Login {% endblock %}

{% block body %} 

<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<p>community login</p>
<form method = "post" >
    <p>Enter username and password</p>
    <input type="text" name="loginID" placeholder=" username">
    <input type="password" name="password" placeholder=" password">
    <input type="submit">
</form>
</div>

<div><br><br>
<a href="/registerHome"><button>Register</button></a>
<a href="/passwordHelpHome"><button>Help</button></a>
<a href="/loginHome"><button>Back</button></a>
<a href="/"><button>Home</button></a>

</div>
{% endblock %}