{% extends "layout.html" %}

{% block title%} Pomona Green Bikes Home {% endblock %}

{% block body %} 

<img src="static/logo.png" class="logo" alt="Pomona Green Bikes Logo">
<div>
    Welcome to the Green Bikes Website! You are signed in as: {{ user }}.
</div> <br>
 <input placeholder="Search for Bike"> </input> 

<div><br><br>
    {% block content %}
        {% if ( (session['logged'] == True) and ("green47" == session['user']) ) %}
            <a href="/mainTool" target="_blank"><button>user db</button></a>
            <a href="/logout"><button>Logout</button></a>
        {% elif ( (session['logged'] == True) and ("Student" == session['type']) ) %}
            <a href="/rent" target=_blank><button>Rent</button></a>
            <a href="/logout"><button>Logout</button></a>
        {% elif session['logged'] == True %}
            <a href="/logout"><button>Logout</button></a>
        {% else %}
             <a href="/loginHome"><button>Login</button></a> 
          <a href="/registerHome"><button>Register</button></a> 
         <!--  <a href="/passwordHelp"><button>Exchange</button></a> -->
         <!--  <a href="/passwordHelp"><button>Repair</button></a> -->
        {% endif %}
    {% endblock content %}
</div>

{% endblock %}


{% if ( (foo == 'foo' or bar == 'bar') and 
        (fooo == 'fooo' or baar == 'baar') ) %}
    <li>some text</li>
{% endif %}

