{% extends "layout.html" %}

{% block title%} Pomona Green Bikes Home {% endblock %}

{% block body %} 

<img src="static/logo.png" class="logo" alt="Pomona Green Bikes Logo">

<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>

<div>
        {% if ( (session['logged'] == True) ) %}
        <p>Welcome to the Green Bikes Website! You are signed in as: {{ session['user'] }}.</p>
        {% else %}
        <p>Welcome to the Green Bikes Website! Guest User: You are currently not signed in.</p>
        {% endif %}
</div> <br>

<div><br><br>
    {% block content %}
    <script type="text/javascript">
        window.addEventListener( "pageshow", function ( event ) {
                var historyTraversal = event.persisted || 
                                       ( typeof window.performance != "undefined" && 
                                            window.performance.navigation.type === 2 );
                if ( historyTraversal ) {
                  // Handle page restore.
                  window.location.reload();
                }
              });
        </script>
<!--Staff-->
        {% if ( (session['logged'] == True) and ("4747" == session['user']) ) %}
            <a href="/bikeTool" ><button>bikes/locks</button></a>
            <a href="/mainTool" ><button>users</button></a>
            <a href="/repairRequests" ><button>repairs</button></a>
            <a href="/rentRequests" ><button>rentals</button></a><br><br>
            <a href="/logout"><button>Logout</button></a>
<!--Student-->
        {% elif ( (session['logged'] == True) and ("Student" == session['type']) ) %}

            {% if check == 1  %}
            <a href="/manageRent" ><button>My Bike</button></a><br><br>
         
            {% elif check != 1 %}
            <a href="/rent" ><button>Rent</button></a>
            {% endif %}
            <a href="/logout"><button>Logout</button></a>
<!--Community-->
        {% elif session['logged'] == True %}
            <a href="/commRepair"><button>Repair My Bike</button></a><br><br>
            <a href="/logout"><button>Logout</button></a>
<!--Guest-->
        {% else %}
            <a href="/loginHome"><button>Login</button></a> <br><br>
          <a href="/registerHome"><button>Register</button></a> 
   
        {% endif %}
    {% endblock content %}
</div>

{% endblock %}




