{% extends "layout.html" %}

{% block title%} Pomona Green Bikes Home {% endblock %}

{% block body %} 

<img src="static/logo.png" class="logo" alt="Pomona Green Bikes Logo">

<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>

<div>
        {% if ( (session['logged'] == True) ) %}
        <p>Welcome to the Green Bikes Website! You are signed in as: {{ session['user'] }}.</p>
        {% else %}
        <p>Welcome to the Green Bikes Website! Guest User: You are currently not signed in.</p>
        {% endif %}
</div> <br>

<div><br><br>
    {% block content %}
<!--Staff-->
        {% if ( (session['logged'] == True) and ("green47" == session['user']) ) %}
            <a href="/mainTool" target="_blank"><button>user db</button></a>
            <a href="/repairRequests" target="_blank"><button>repair requests</button></a>
            <a href="/rentRequests" target="_blank"><button>rent requests</button></a>
            <a href="/logout"><button>Logout</button></a>
<!--Student-->
        {% elif ( (session['logged'] == True) and ("Student" == session['type']) ) %}
            <a href="/rent" ><button>Rent</button></a>
            <a href="/manageRent" ><button>My Bike</button></a>
            <a href="/logout"><button>Logout</button></a>
<!--Community-->
        {% elif session['logged'] == True %}
            <a href="/commRepair"><button>Repair My Bike</button></a>
            <a href="/logout"><button>Logout</button></a>
<!--Guest-->
        {% else %}
            <a href="/loginHome"><button>Login</button></a> 
          <a href="/registerHome"><button>Register</button></a> 
   
        {% endif %}
    {% endblock content %}
</div>

{% endblock %}




