{% extends "layout.html" %}

{% block title%} Login {% endblock %}

{% block body %} 
<script type="text/javascript">
    window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted || 
                                   ( typeof window.performance != "undefined" && 
                                        window.performance.navigation.type === 2 );
            if ( historyTraversal ) {
              // Handle page restore.
              window.location.reload();
            }
          });
    </script>
<div>
<p>Are you a:</p>
<a href="/staffLogin"><button>Staff User</button></a>
<a href="/stuLogin"><button>Student User</button></a>
<a href="/commLogin"><button>Community User</button></a>
</div>

<div><br><br>
<a href="/registerHome"><button>Register</button></a>
<a href="/passwordHelpHome"><button>Help</button></a>
<a href="/"><button>Home</button></a>

</div>
{% endblock %}