<!DOCTYPE html>
<html lang='en'>
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <title> User DB</title>
</head>


<body>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
    
    <p>Hello {{ user }}</p>
    <h1>Staff Table</h1>
    <table>
        <tr>
            <th>UserID</th>
            <th>sID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            <th>Phone #</th>
            <th>Year</th>
        </tr>
    {% for item in data1 %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
        <td>{{item[7]}}</td>
        <br>
    </tr>
    {% endfor %}
    </table>

    <h1>Student Table</h1>
    <table>
        <tr>
            <th>User ID</th>
            <th>sID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            <th>Phone #</th>
            <th>Year</th>
            <th>School</th>
            <th>RaffleNo</th>
            <th>Account Balance</th>
        </tr>
    {% for item in data2 %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
        <td>{{item[7]}}</td>
        <td>{{item[8]}}</td>
        <td>{{item[9]}}</td>
        <td>{{item[10]}}</td>
        <form method = "post" action="{{ url_for('addStuBal') }}" >
            <td><input placeholder="Add"  name="balance"></td>
            <input type="hidden" name="user1" value="{{item[0]}}">
            <td><input type="submit" value="Update"></td>
        </form> 
        <br>
    </tr>
    {% endfor %}
    </table>

    <h1>Community Table</h1>
    <table>
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            <th>Phone #</th>
            <th>Account Balance</th>
        </tr>
    {% for item in data3 %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
        <form method = "post" action="{{ url_for('addCommBal') }}" >
            <td><input placeholder="Add"  name="balance"></td>
            <input type="hidden" name="user1" value="{{item[0]}}">
            <td><input type="submit" value="Update"></td>
        </form> 
    </tr>
    {% endfor %}
    </table>
    
</body>

</html>