{% extends "layout.html" %}

{% block title%} My Bike {% endblock %}




{% block body %} 


<div><br><br>

    <h1>My Bike</h1>
    <table>
        <tr>
            <th>BikeNo</th>
            <th>Model</th>
            <th>Year</th>
            <th>Size</th>
            <th>Image</th>
        </tr>
    {% for item in data %}
    <tr>
        
        <td>{{item[0]}}</td>

        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td><img src=static/bikes/{{item[0]}}.jpeg></td>
        
        <form method = "post">
            <input type="hidden" name="bikeNo" value="{{item[0]}}">
            <td><input type="submit" value="Unreserve"></td>
        </form>  
    </tr>
    {% endfor %}
    </table>

<a href="/"><button>Home</button></a>


</div>
{% endblock %}