{% extends "layout.html" %}

{% block title%} Login {% endblock %}

{% block body %} 
<script type="text/javascript">
    window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted || 
                                   ( typeof window.performance != "undefined" && 
                                        window.performance.navigation.type === 2 );
            if ( historyTraversal ) {
              // Handle page restore.
              window.location.reload();
            }
          });
    </script>

<div>
<p>Reset password for a:</p>
<a href="/staffHelp"><button>Staff Password Help</button></a>
<a href="/stuHelp"><button>Student Password Help</button></a>
<a href="/commHelp"><button>Community Password Help</button></a>
</div>

<div><br><br>
<a href="/"><button>Home</button></a>
<a href="/loginHome"><button>Login</button></a>

</div>
{% endblock %}