{% extends "layout.html" %}

{% block title%} Bike Checkout {% endblock %}



{% block body %} 

<script type="text/javascript">
window.addEventListener( "pageshow", function ( event ) {
        var historyTraversal = event.persisted || 
                               ( typeof window.performance != "undefined" && 
                                    window.performance.navigation.type === 2 );
        if ( historyTraversal ) {
          // Handle page restore.
          window.location.reload();
        }
      });
      
    function checkInput(searchInput) {

        var searchButton = document.getElementById("searchButton");
        //check there is a non-blank input and that it is in b/w 48-62.
        x = Number(searchInput.value.trim())

        if ((x != "") && (x >= 42 ) && (x <= 62)) {
            //enable
            searchButton.disabled = false; 
        }
            
        else {
            //disable
            searchButton.disabled = true;
        }
    };
</script>
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
</div>
<div>
 <p>Available Bikes </p>

<form method = "POST" action="{{ url_for('rent') }}">
    <input id="searchSize"  placeholder="search size (42-62cm)" name="size" onkeyup="checkInput(this)">
    <input id="searchButton" type="submit"  disabled='disabled' value="search">
</div>

<div><br><br>

    <h1>Bike Table</h1>
    <table>
        <tr>
            <th>BikeNo</th>
            <th>Model</th>
            <th>Year</th>
            <th>Size</th>
            <th>Image</th>
        </tr>
    {% for item in data %}
    {% if item[4] %}
    <tr>
        
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[3]}}</td>
        <td><img style="width:175px; height:150px;" src=static/bikes/{{item[0]}}.jpg></td>
        
        <form method = "POST" action="{{ url_for('rent') }}">
            <input type="hidden" name="bikeNo" value="{{item[0]}}">
            <td><input type="submit" value="Reserve"></td>
        </form>  
    </tr>
    {% endif %}
    {% endfor %}
    </table>

<a href="{{ url_for('homePage') }}"><button>Home</button></a>


</div>
{% endblock %}
