{% extends "layout.html" %}

{% block title%} Register {% endblock %}

{% block body %} 
<script type="text/javascript">
    window.addEventListener( "pageshow", function ( event ) {
            var historyTraversal = event.persisted || 
                                   ( typeof window.performance != "undefined" && 
                                        window.performance.navigation.type === 2 );
            if ( historyTraversal ) {
              // Handle page restore.
              window.location.reload();
            }
          });
    </script>
<div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p>student pw reset</p>
<form method="post" action="{{ url_for('stuHelp') }}">

    <input type="text" name="user" placeholder="enter username"><br><br>

    <input type="password" name="word" placeholder="enter secret word"><br><br>

    <input type="password" name="p1" placeholder="select a new password"><br><br>
    <input type="password" name="p2" placeholder="re-enter new password"><br><br>

    <input type="submit">
</form>
</div>

<div>
<a href="/"><button>Home</button></a>
<a href="/passwordHelpHome"><button>Back</button></a>
<a href="/loginHome"><button>Login</button></a>
</div>
{% endblock %}